# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
public/ads
.firebase/*
junk/*
public/stamp.txt
.editorconfig
# アーカイバ
md-archiver
# アーカイブファイル
archive.md
# バナー広告
public/banners/*
# npmのサイズとか出すやつ
stats.html
# ダンプ用の巨大なテストデータやenvelope
testdata/*

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
