.drafter.empty {
  @apply variant-soft-primary;
}
.storyboarder.empty {
  @apply variant-soft-secondary;
}
.generator.empty {
  @apply variant-soft-tertiary;
}
.drafter.filled {
  @apply variant-filled-primary;
}
.storyboarder.filled {
  @apply variant-filled-secondary;
}
.generator.filled {
  @apply variant-filled-tertiary;
}
.drafter.ready {
  @apply variant-ghost-primary;
}
.storyboarder.ready {
  @apply variant-ghost-secondary;
}
.generator.ready {
  @apply variant-ghost-tertiary;
}
