.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.hbox.left {justify-content: flex-start;}
.hbox.right {justify-content: flex-end;}
.hbox.center {justify-content: center;}
.hbox.space-around {justify-content: space-around;}
.hbox.top {align-items: start;}
.hbox.bottom {align-items: end;}
.hbox.gap {gap: 12px;}
.hbox.stretch-child {align-items: stretch;}
.hbox .expand {align-self: stretch;}
.hbox .grow {flex-grow: 1;}

.vbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vbox.top {justify-content: flex-start;}
.vbox.bottom {justify-content: flex-end;}
.vbox.center {justify-content: center;}
.vbox.gap {gap: 12px;}
.vbox.stretch-child {align-items: stretch;}
.vbox.space-around {justify-content: space-around;}
.vbox .expand {align-self: stretch;}
.vbox .grow {flex-grow: 1;}